button {
    text-transform: uppercase;
    color: silver;
    background: #26292E;
    width: 100%;
    border: 0;
    padding: 15px;
    cursor: pointer;

    -moz-transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

button:hover, button:active, button:focus {
    color: #DE5E60;
}